# SPDX-License-Identifier: GPL-2.0

menu "Allwinner BSP"

source "$(BSP_TOP)platform/Kconfig"
source "$(BSP_TOP)platform/Kconfig.debug"
source "$(BSP_TOP)drivers/Kconfig"
source "$(BSP_TOP)modules/nand/Kconfig"
source "$(BSP_TOP)modules/gpu/Kconfig"

endmenu
